<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fehead.sustmessage.dao.PasswordDOMapper">

    <!--添加用户密码-->
    <insert id="insertPasswprd" parameterType="com.fehead.sustmessage.dataobject.PasswordDO">
        insert into password
        (student_id,password)
        values
        (#{studentId},#{password})
    </insert>

    <!--根据用户id和密码查找密码id-->
    <select id="selectPasswordIdByStudentIdAndPassWord" parameterType="com.fehead.sustmessage.dataobject.PasswordDO" resultType="Integer">
        select id
        from password
        where student_id = #{studentId} and password=#{password}
    </select>
</mapper>