<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fehead.sustmessage.dao.UserDOMapper">

    <!--通过id查找用户-->
    <select id="selectUserById" parameterType="String" resultType="com.fehead.sustmessage.dataobject.UserDO">
        select id,student_id studentId,telephone,display_name displayName,avatar
        from user
        where student_id=#{studentId}
    </select>




</mapper>